<!DOCTYPE html>
<html>
    <head>
        <title>BBQ</title>
        <link rel="stylesheet" href="../static/css/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav_section">
            <ul>
                <li>special</li>
                <li>about</li>
                <li>menu</li>
                <li>chef</li>
                <li>contact</li>
            </ul>
        </div>
        <div class="main">
            <div class="main1">
                <h1>BBQ</h1>
                <h4>Reservations:(887)654-3210</h4>
            </div>
        </div>
        <div class="special">
            <h1>our specials</h1>
        </div>
        <div class="special-section">
            <div class="specials">
                <h4>Lorem ipsum dolor</h4>
                <img class="pic" src="../static/images/specials/1.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo</p>
            </div>
            <div class="specials">
                <h4>Lorem ipsum dolor</h4>
                <img class="pic" src="../static/images/specials/2.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo</p>
            </div>
            <div class="specials">
                <h4>Lorem ipsum dolor</h4>
                <img class="pic" src="../static/images/specials/3.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo</p>
            </div>
        </div>
        <div class="story">
            <div class="story-left">
                <img class="img" src="../static/images/gallery-bg.jpg">
            </div>
            <div class="story-right">
                <h2>OUR STORY</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
            </div>
        </div>
        <div class="menuhead">
            <h2>MENU</h2>
        </div>
        <div class="images">
            <img src="../static/images/gallery/01.jpg">
            <img src="../static/images/gallery/02.jpg">
            <img src="../static/images/gallery/03.jpg">
            <img src="../static/images/gallery/04.jpg">
        </div>
        <div class="chef">
            <div class="chef-left">
                <h2>MEET YOUR CHEF</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</P>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</P>
            </div>
            <img src="../static/images/chef.jpg">
        </div>
        <div class="footer">
            <div class="footer1">
                <h3>Reservations</h3>
                <p>please call</p>
                <p>(887)654-3210</p>
            </div>
            <div class="footer2">
                <h3>Address</h3>
                <p>4321 california st.</p>
                <p>sanfransico:CA12345</p>
            </div>
            <div class="footer3">
                <h3> open Hours</h3>
                <p>Mon-Thu:9:00Am To 5:00Pm</p>
                <p>Fri-sun:9:00Am To 12:00Pm</p>
            </div>
        </div>
        <div class="message">
            <h3>SEND US A MESSAGE</h3>
            <div class="in">
                <input type="name" name="name" placeholder="enter your name">
                <input type="email" name="email" placeholder="enter your email">
                <br>
                <input type="textarea"  placeholder="Message">
                <button>SEND A MESSAGE</button>
            </div>
            <div class="copyright">
                <p>copy rights@gvs2023 all rights are preserved</p>
            </div>
        </div>
    </body>
</html>
